<div class="page-header">
  <h2>{{name}}</h2>
  <h6><a href="/employees/">back to main list</a></h6>
</div>

<div style="width:680px; margin: 0 auto;" id="chart"></div>

<table class="table" style="width: 60%; margin: 20px auto">
  <thead>
    <tr>
      <th style="text-align:right">Salary</th>
      <th></th>
      <th>Period</th>
    </tr>
  </thead>
  <tbody>
  {{#salaryList}}
    <tr>
      <td align="right">{{salary}}</td>
      <td></td>
      <td>{{start}} <i>to</i> {{end}}</td>
    </tr>
  {{/salaryList}}
  </tbody>
</table>


<script>

//subtract a day to prevent weird issues at overlap ranges
//YYYY-MM-DD formatting from http://stackoverflow.com/a/16714931
function procEndDate(end) {
  var date = null;
  if (end.toLowerCase() == 'now') date = new Date();
  else date = new Date(Date.parse(end) - (1000 * 60 * 60 * 24));

  return date.toISOString().slice(0,10).replace(/-/g,"-");
}

var dateList =  [ {{#salaryList}}
                    procEndDate('{{end}}'), '{{start}}',
                    {{/salaryList}}
                  ].reverse();

var salaryList =  [
                    {{#salaryList}}
                    '{{salary}}'.replace(",", ""),
                    '{{salary}}'.replace(",", ""),
                    {{/salaryList}}
                  ].reverse();
var chart = c3.generate({
    bindto: '#chart',
    data: {
        x: 'x',
        columns: [
            ['x'].concat(dateList),
            ["{{name}}'s Salary"].concat(salaryList)
        ],
    },
    axis: {
        x: {
          label: 'Date',
          type: 'timeseries',
          tick: {
            count: 7,
            format: '%Y-%m-%d'
          }
        },
        y: {
          label: 'Salary'
        }
    },
    padding: {
      right: 20
    },
    tooltip: {
        show: false
    }
});
</script>